/*=============== STEPS ===============*/
.steps {
    &__bg {
        background-color: var(--first-color);
        padding: 3rem 2rem 2rem;
        border-radius: 1rem;
    }
    &__container {
        gap: 2rem;
        padding-top: 1rem;
        z-index: -1;
    }
    &__title {
        color: #FFF;
    }
    &__card-description, 
    .section__title-center.steps__card-description {
        color: red; /* Ensures the text is red */
        font-size: var(--small-font-size);
    }
    &__card {
        //background-color: var(--container-color);
        padding: 2.5rem 3rem 2rem 1.5rem;
        border-radius: 1rem;

        &:hover .steps__card-number {
            transform: translateY(-.25rem);
        }

        &-number {
            display: inline-block;
            color: #FFF;
            padding: .5rem .75rem;
            border-radius: .25rem;
            font-size: var(--h4-font-size);
            margin-bottom: var(--mb-1-5);
            transition: .3s;
        }
        &-title {
            font-size: var(--h3-font-size);
            margin-bottom: var(--mb-0-5);
        }
        &-description {
            font-size: var(--small-font-size);
        }
    }
}
